    Our primary accomplishment, aside from finishing the initial database, was we designed our GUI for our 
website, and we will soon write the JavaScript to implement it in html.

    We managed to avoid any serious issues. However, one small issue we ran into was we are not experts 
on Ruby. To rectify our deficiency, we simply read some of the documentation to continue working on our 
website.  We also discovered that Postgresql would take too long to set up for our database, so we decided 
to switch to MySql. Our only other problem was synchronizing our schedules, but we eventually found some 
times that worked for everyone. 
	
    Our game plan for the project was to divide the project up as follows: Devin would work on writing and 
testing the queries and writing the trigger; Killian created our initial data and wrote the viols.sql; 
and Matt wrote the table.sql, the summary, and began working on the indexes. We initially worked on our
separate parts of the project.  We then met to finalize, edit, and merge our individual pieces together.
During final step, we worked together to help each other fill in the missing pieces and develop some ideas 
for improvement. We also considered what our next steps would be to finish the project.
